body {
    margin: 0;
    font-family: 'Arial', sans-serif; 
}
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden; 
}

h1, #scoreDisplay {
    color: #0000FF;  /* Blue color */
    background-color: #FFFDD0;  /* Cream color */
    font-size: 2.5em;  
    font-weight: bold;
    padding: 20px;  
    border-radius: 10px;  
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    margin: 10px auto; /* Adjusted margin for seamless stacking */
}

.immersive-container {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url('.\\appphotos\\animatedBackground.gif'); 
    background-size: cover;  
    background-repeat: no-repeat;  
    background-position: center center;  
    animation: GradientShift 1s infinite alternate;
    overflow: hidden; 
    white-space: nowrap; 
}

.background-gif {
    display: inline-block;
    height: 100vh; 
    width: calc(100vh * 16/9); /* set width based on 16:9 aspect ratio */
    z-index: -1;
    pointer-events: none;
    vertical-align: top;
    border: none; 
    overflow: hidden; 
}

.dog-image {
    max-width: 100%; 
    display: block;
    margin: auto; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
    width: 10%; 
    height: auto; 
}

@keyframes GradientShift {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
